@model DentAssist.Models.PlanTratamiento

@{
    ViewData["Title"] = "Eliminar Plan de Tratamiento";
}

<h1>Eliminar Plan de Tratamiento</h1>

<h3>¿Estás seguro de que quieres eliminar este plan de tratamiento?</h3>
<div class="alert alert-warning" role="alert">
    Advertencia: La eliminación de este plan también eliminará todos sus pasos de tratamiento asociados.
</div>
<div>
    <h4>Plan de Tratamiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Odontologo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Odontologo.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-9">
            @Model.FechaCreacion.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ObservacionesGenerales) @* CAMBIO: ObservacionesGenerales *@
        </dt>
        <dd class="col-sm-9">
            @* Manejo de ObservacionesGenerales (si es nullable string) *@
            @if (!string.IsNullOrEmpty(Model.ObservacionesGenerales))
            {
                @Html.DisplayFor(model => model.ObservacionesGenerales)
            }
            else
            {
                <span>N/A</span>
            }
        </dd>
        @* Eliminadas referencias a FechaFinalizacionEstimada y TotalEstimado *@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary ml-2">Cancelar y Volver al Listado</a>
    </form>
</div>