@model IEnumerable<DentAssist.Models.Odontologo>

@{
    ViewData["Title"] = "Odontólogos";
}

<div class="container main-content pt-4">
    <!-- Título y botón alineados -->
    <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
        <h2 class="mb-0 text-primary">Listado de Odontólogos</h2>
        <a asp-action="Create" class="btn btn-primary">Registrar un nuevo Odontólogo</a>
    </div>

    <div class="table-responsive">
        <table class="table shadow-sm">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Matrícula</th>
                    <th>Especialidad</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Matricula</td>
                        <td>@item.Especialidad</td>
                        <td>
                            <a href="mailto:@item.Email">@item.Email</a>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Acciones de Odontólogo">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info ms-2">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ms-2">Eliminar</a>
                                <a asp-action="Agenda" asp-route-id="@item.Id" class="btn btn-sm btn-secondary ms-2">Agenda</a>
                                <a asp-action="FichasPacientes" asp-route-id="@item.Id" class="btn btn-sm btn-secondary ms-2">Pacientes</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>